<header class="bg-white shadow">
  <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
    <h1 class="text-xl font-bold">SimpleSiteHQ</h1>
    <!-- Navigation -->
    <nav class="space-x-6 hidden md:block">
      <a href="index.html" class="hover:text-green-600">Home</a>
      <a href="services.html" class="hover:text-green-600">Services</a>
      <a href="samples.html" class="hover:text-green-600">Samples</a>
      <a href="contact.html" class="hover:text-green-600">Contact</a>
    </nav>

    <!-- Hamburger Button -->
    <button
      id="menu-btn"
      class="md:hidden text-2xl focus:outlinr-none"
      aria-label="open menu"
    >
      ☰
    </button>
  </div>

  <!-- Mobile Menu -->

  <div id="mobile-menu" class="hidden md:hidden bg-white border-t">
    <nav class="flex flex-col px-6 py-4 space-y-4">
      <a href="index.html" class="hover:text-green-600">Home</a>
      <a href="services.html" class="hover:text-green-600">Services</a>
      <a href="samples.html" class="hover:text-green-600">Samples</a>
      <a href="contact.html" class="hover:text-green-600">Contact</a>

      <a
        href="#"
        class="whatsapp-cta bg-green-600 text-white text-center py-2 rounded"
        data-message="Hello, I’m interested in getting a website for my business."
      >
        Chat on WhatsApp</a
      >
    </nav>
  </div>
</header>
